extends layout

block content

  script(src="/js/lib/jquery.js")
  script(src="/js/lib/underscore.js")
  script(src="/js/lib/backbone.js")
  script(src="/js/lib/mustache.js")
  script(src="/socket.io/socket.io.js")
  script(src="/js/main.js")

  div(id="stage")
    div(id="outbreaks")
    div(id="cures")

  div(id="right-panel-toggle", class="bttn red") "Toggle Panel"
  div(id="right-panel")
    div(id="right-panel-body")


