extends layout

block content

  script(src="/js/jquery.js")
  script(src="/js/underscore.js")
  script(src="/js/backbone.js")
  script(src="/js/d3.js")
  script(src="/socket.io/socket.io.js")
  script(src="/js/main.js")

  div(id="stage")
