/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body.paused > * {
  opacity: 0.1;
}
body.paused .pause-msg {
  opacity: 1;
  display: block !important;
}
.pause-msg {
  z-index: 10000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
  padding-top: 5%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.3);
  display: none;
  font-size: 50px;
  color: black;
}
a {
  color: #00B7FF;
}
.user-token {
  z-index: 99999;
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
}
.user-token.black {
  background: blue;
  margin-top: 2px;
}
.user-token.red {
  background: violet;
  margin-top: 4px;
}
.user-token.yellow {
  background: goldenrod;
  margin-top: 6px;
}
.user-token.blue {
  background: navyblue;
  margin-top: 8px;
}
.city {
  position: absolute;
  display: block;
}
.line {
  z-index: 1;
  transform-origin: 0 100%;
  height: 2px;
  /* Line width of 3 */

  background: #000;
  /* Black fill */

}
.sphere {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  margin-top: 5px;
}
.sphere.RED {
  background-image: url("/img/spheres/red.png");
}
.sphere.BLACK {
  background-image: url("/img/spheres/black.png");
}
.sphere.BLUE {
  background-image: url("/img/spheres/blue.png");
}
.sphere.YELLOW {
  background-image: url("/img/spheres/yellow.png");
}
#stage {
  z-index: 10;
  box-sizing: border-box;
  background: white;
  border: 1px solid #efefef;
  padding: 10px;
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 768px;
  background: url("/img/world-map.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#outbreaks {
  z-index: 100;
  display: inline-block;
  width: 200px;
  height: 100px;
  bottom: 0;
  box-sizing: border-box;
  background: white;
  border: 1px solid #efefef;
  padding: 10px;
  margin: 0;
  position: fixed;
}
#infection_rate {
  z-index: 100;
  display: inline-block;
  width: 200px;
  height: 100px;
  left: 200px;
  bottom: 0;
  box-sizing: border-box;
  background: white;
  border: 1px solid #efefef;
  padding: 10px;
  margin: 0;
  position: fixed;
}
#hand {
  z-index: 100;
  top: 50px;
  left: 50px;
  width: 700px;
  height: 250px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #dedede;
  background: white;
  position: fixed;
}
#hand .cards {
  list-style: none;
}
#hand-toggle {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 100px;
  text-align: left;
}
#player-panel {
  z-index: 100;
  position: fixed;
  top: 310px;
  left: 50px;
  width: 700px;
  height: 150px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #dedede;
  background: white;
}
#player-panel .players {
  list-style: none;
}
#player-panel .player {
  display: inline-block !important;
  padding-right: 20px;
  box-sizing: border-box;
}
#players-toggle {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 185px;
  text-align: left;
}
#cures {
  z-index: 100;
  display: inline-block;
  width: 300px;
  height: 100px;
  bottom: 0;
  left: 400px;
  box-sizing: border-box;
  background: white;
  border: 1px solid #efefef;
  padding: 10px;
  margin: 0;
  position: fixed;
}
#right-panel-toggle {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  text-align: left;
}
#right-panel {
  z-index: 99;
  box-sizing: border-box;
  background: white;
  border: 1px solid #efefef;
  padding: 10px;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 800px;
  width: 400px;
}
.cityview {
  z-index: 98;
  position: absolute;
  background-color: transparent;
}
.cityview.selectable .sphere {
  border: 1px solid red;
  background-color: white;
}
.cityview .num-infected {
  padding: 0 0 0 0;
  margin: 5px 0 0 -4px;
  list-style: none;
  width: 34px;
  height: 10px;
  float: left;
}
.cityview .infected-cube {
  width: 6px;
  height: 6px;
  margin-bottom: 3px;
}
.cityview .infected-cube.RED {
  background: #db3614;
}
.cityview .infected-cube.BLUE {
  background: #1c607c;
}
.cityview .infected-cube.YELLOW {
  background: #ecd90e;
}
.cityview .infected-cube.BLACK {
  background: black;
}
.cityview .research-center {
  width: 10px;
  height: 10px;
}
.cityview .research-center.active {
  background: #D2B48C;
}
#cures .cure {
  width: 50px !important;
  height: 50px !important;
  display: inline-block !important;
  opacity: 0.3;
}
#cures .cure.cured {
  opacity: 1;
}
.card {
  display: inline-block;
  border: 1px solid #dedede;
  width: 150px;
  height: 200px;
  box-sizing: border-box;
  margin-right: 10px;
}
.card .name {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-sizing: border-box;
  padding: 10px 5px 0 10px;
  width: 100%;
  height: 40px;
  background: black;
  color: white;
}
.card .sphere {
  margin: 5px 10px 0 15px;
}
.card .map {
  width: 100%;
  margin-top: 5px;
  height: 75px;
  background-image: url("/img/mini-map.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.card .footer {
  width: 100%;
  height: 24px;
}
.actions {
  list-style: none;
  padding: 0;
  margin: 0;
}
.actions .active {
  font-weight: bold;
}
.action {
  cursor: pointer;
  border-bottom: 1px solid #dedede;
  padding: 5px 0px 5px;
  margin-bottom: 1px;
  width: 100%;
}
.action.first {
  border-top: 1px solid #dedede;
}
.pull-right {
  float: right;
  clear: both;
}
.pull-left {
  float: left;
  clear: both;
}
/*====================================================
CSS3 Gmail Buttons by Adam Whitcroft
https://github.com/AdamWhitcroft/CSS3.Gmail.Buttons
====================================================*/
/*==================================================*/
/*  $Basic Button                                   */
/*==================================================*/
.bttn {
  text-decoration: none;
  cursor: pointer;
  font-size: 0.75em;
  padding: 0 8px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  outline: 0;
  color: #444;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  border: 1px solid #d9d9d9;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bttn:hover {
  border: 1px solid #c6c6c6;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}
.bttn:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
/*==================================================*/
/*  $Emphasis                                       */
/*==================================================*/
.emphasis {
  text-transform: uppercase;
}
/*==================================================*/
/*  $Colors                                         */
/*==================================================*/
/* .red */
.red {
  color: #fff;
  background-color: #d14836;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
  background-image: -moz-linear-gradient(top, #dd4b39, #d14836);
  background-image: linear-gradient(top, #dd4b39, #d14836);
}
.red:hover {
  background-color: #c53727;
  border: 1px solid #b0281a;
  background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
  background-image: -moz-linear-gradient(top, #dd4b39, #c53727);
  background-image: linear-gradient(top, #dd4b39, #c53727);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.red:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
/* .blue */
.blue {
  color: #fff;
  background-color: #4D90fe;
  border: 1px solid #3079ed;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);
}
.blue:hover {
  background-color: #357aeb;
  border: 1px solid #2F5bb7;
  background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
  background-image: linear-gradient(top, #4d90fe, #357ae8);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.blue:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
/* .yellow */
.yellow {
  color: #867343;
  background-color: #ffe07b;
  border: 1px solid #fddb69;
  background-image: -webkit-linear-gradient(top, #ffe896, #ffe07b);
  background-image: -moz-linear-gradient(top, #ffe896, #ffe07b);
  background-image: linear-gradient(top, #ffe896, #ffe07b);
}
.yellow:hover {
  background-color: #ffda73;
  border: 1px solid #deb74f;
  background-image: -webkit-linear-gradient(top, #ffe485, #ffda73);
  background-image: -moz-linear-gradient(top, #ffe485, #ffda73);
  background-image: linear-gradient(top, #ffe485, #ffda73);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.yellow:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
